<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <div align="center">
      <h2>Log in</h2>
    </div>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class: 'form-control' %>
      </div>

      <div class="form-group field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="form-group field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>

      <div class="form-group actions">
        <%= f.submit "Log in", class: 'btn btn-success' %>
      </div>
    <% end %>

    <%= render "users/shared/links" %>

  </div>
</div>
