<div class="page-header">
  <h1>Community Manager Application <br><small>All of the things needed for your daily tasks</small></h1>


</div>

<div>
  <h2><small>Quick Links</small></h2>
  <ul>
    <li>Welcome Letters</li>
    <li>Virtual Member Notification</li>
    <li>Supplies Inventory</li>
    <li>Daily Record</li>
    <li>Pro Rate Calculator</li>
  </ul>
</div>
