<div>
  <table class="table table-striped">
    <th>Total Value</th>
    <th>Total Current Value</th>
    <th>% to Capacity</th>

    <tr>
      <td><%= number_to_currency(location_total_value(location)) %></td>
      <td><%= number_to_currency(total_location_current_value) %></td>
      <td><%= percent_to_capacity(total_location_current_value, total_location_value)%>% </td>
    </tr>
  </table>
</div>
<div>
  <table class="table table-striped">
    <th></th>
    <th>Office #</th>
    <th>Desks</th>
    <th>Company Name</th>
    <th>Current Price</th>
    <th>Shortage</th>

    <% @inventory.location.each do |launch_pad| %>
      <% if launch_pad%>
          <tr>
          <% if launch_pad.price == 0 %>
            <tr class="warning">
          <% end %>
              <td><%= link_to "Edit", edit_inventory_path(launch_pad) %></td>
              <td><%= launch_pad.office %></td>
              <td> LP<%= launch_pad.desks%></td>
              <td><%= launch_pad.company %></td>
              <td><%= number_to_currency(launch_pad.price) %></td>
              <td><%= number_to_currency(launch_pad.shortage) %></td>
            </tr>
      <% end %>
    <% end %>

  </table>
</div>
