<h1>Main Inventory</h1>

<div class="container">
  <div class="row">
    <h2>SOUTH PARK</h2>
      <%= render partial: 'table_sp' %>
  </div>

  <div class="row">
    <h2>SOMA</h2>
      <%= render partial: 'table_soma'%>
  </div>

  <div class="row">
    <h2>BERKELEY</h2>
      <%= render partial: 'table_berkeley'%>
  </div>

  <div class="row">
    <h2>PALO ALTO</h2>
      <%= render partial: 'table_palo_alto'%>
  </div>

</div>
