<h1>Create Office</h1>

<div class="row">
  <div class="col-md-8">
    <%= form_for @inventory do |f| %>
      <div class="form-group">
        <%= f.label :office %>
        <%= f.text_field :office, class: 'form-control', placeholder: "Enter Office Number" %>
      </div>

      <div class="form-group">
        <%= f.label :desks %>
        <%= f.text_field :desks, class: 'form-control', placeholder: "Enter Office Size" %>
      </div>

      <div class="form-group">
        <%= f.label :company %>
        <%= f.text_field :company, class: 'form-control', placeholder: "Enter Company" %>
      </div>

      <div class="form-group">
        <%= f.label :price %>
        <%= f.text_field :price, class: 'form-control', placeholder: "Enter Office Price" %>
      </div>

      <div class="form-group">
        <%= f.label :actual %>
        <%= f.text_field :actual, class: 'form-control', placeholder: "Enter Actual Office Price" %>
      </div>

      <div class="form-group">
        <%= f.label :location %>
        <%= f.text_field :location, class: 'form-control', placeholder: "Enter office location" %>
      </div>

      <div class="form-group">
        <%= f.submit "Save", class: 'btn btn-success' %>
      </div>
    <% end %>
  </div>
</div>
